@import url("style/header.css");
@import url("style/banner.css");
@import url("style/footer.css");
@font-face {
  font-family: "Plus Jakarta Sans";
  src:
    url("fonts/PlusJakartaSans-Bold.ttf") format("truetype"),
    url("fonts/PlusJakartaSans-ExtraBold.ttf") format("truetype"),
    url("fonts/PlusJakartaSans-Medium.ttf") format("truetype"),
    url("fonts/PlusJakartaSans-Regular.ttf") format("truetype"),
    url("fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Preahvihear";
  src:
    url("fonts/Preahvihear-Regular.ttf") format("truetype"),
    url("fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #11071f;
}
.container {
  width: 60%;
  margin: 0 auto;
}
.Work-experience {
  color: #fff;
  font-family: "Preahvihear";
  padding: 100px 0;
  background: #763cac;
  background: radial-gradient(
    circle,
    rgba(118, 60, 172, 1) 0%,
    rgba(140, 121, 184, 0) 50%
  );
}
.Work-experience h2 {
  margin-bottom: 44px;
}
main .Work-experience-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.Work-experience-cards .experience-card {
  background: #130428;
  background: linear-gradient(
    350deg,
    rgba(19, 4, 40, 1) 0%,
    rgba(56, 18, 109, 0) 17%,
    rgba(56, 18, 109, 1) 45%,
    rgba(38, 16, 69, 1) 70%,
    rgba(25, 6, 52, 1) 90%
  );
  box-shadow: 4px 7px 26px 0 #0000001f;
  display: flex;
  align-items: center;
  border-top: 2px solid #693b93;
  /* padding-bottom: 24px ; */
  border-radius: 10px;
}
.experience-card .experience-pic {
  padding: 20px 8px 17px 10px;
}
.experience-card .experience-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  padding: 10px;
}
.experience-card .experience-text h5 {
  font-family: Poppins;
  font-size: 26px;
  font-weight: 600;
  line-height: 32.5px;
  letter-spacing: 0%;
}
.experience-card .experience-text p {
  font-family: Poppins;
  font-size: 8px;
  font-weight: 500;
  line-height: 10.5px;
  letter-spacing: 0%;
}
.Work-experience .experience-text .btn {
  background-color: #2c1250;
  border: 1px solid #693b93;
  border-radius: 10px;
  text-decoration: none;
  font-size: 10px;
  line-height: 15px;
  font-weight: 500;
  color: #fff;
  padding: 10px 23px 10px 10px;
  margin-top: 10px;
}
.join-the-taem {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.join-the-taem .team-text p {
  color: #fff;
  font-family: "Preahvihear";
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 2%;
}
.join-the-taem .team-text span {
  color: #a362ff;
}
.join-the-taem .team-text .title {
  font-size: 24px;
}
.join-the-taem .team-text .subtitle {
  font-size: 17px;
}
.team-skills-box .team-skills {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}
.team-skills-box .team-skills div {
  background-color: #251c31;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.team-skills-box .team-skills .item::after {
  content: "";
  position: absolute;
  top: 40px;
}
.team-skills-box .team-skills .line1::after {
  content: url("images/line1.svg");
  left: 30px;
}
.team-skills-box .team-skills .line2::after {
  content: url("images/line2.svg");
  left: 30px;
}
.team-skills-box .team-skills .line3::after {
  content: url("images/line3.svg");
  left: 30px;
}
.team-skills-box .team-skills .line4::after {
  content: url("images/line4.svg");
  left: -10px;
}
.team-skills-box .team-skills .line5::after {
  content: url("images/line5.svg");
  right: 30px;
}
.team-skills-box .team-skills .line6::after {
  content: url("images/line6.svg");
  right: 30px;
}
.logo-circle-box {
  margin-top: 40px;
  padding-top: 150px;
}

/* example-project-section style */
.example-project-section {
  padding: 120px 0;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(images/Gradient.svg) no-repeat right;
  background-size: contain;
}
.example-content {
  margin: auto;
  display: flex;
  /* grid-template-columns: 2fr 1fr; */
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.example-project-text {
  color: #ccd6f6;
  font-family: Poppins;
  width: 500px;
  position: relative;
  left: 50px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}
.left .example-project-text {
  align-items: start;
}
.example-project-text .subtitle {
  color: #9857d3;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 2%;
}
.example-project-text .title {
  font-size: 34px;
  line-height: 100%;
  letter-spacing: 2%;
}
.example-project-image {
  width: 582px;
  position: relative;
  right: 50px;
  z-index: 1;
  background-color: #2b0b3a;
  border-radius: 10px;
}
.example-project-image img {
  width: 100%;
  border-radius: 15px;
}
.example-project-text .blur-card {
  width: 669px;
  padding: 20px 15px;
  background: url("images/Card.svg") no-repeat center;
  background: radial-gradient(
    circle,
    #683b933d 100%,
    #6ebef467 22%,
    #468fd459 0%
  );
  backdrop-filter: blur(80px);
  border-radius: 10px;
  /* line-height: 1.8; */
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
  position: relative;
  left: 0px;
  margin-top: 20px;
}
.flower-icon {
  margin-top: 20px;
}
.right {
  background: url(images/Gradient.svg) no-repeat left;
  background-size: contain;
  margin-top: 20px;
}
.right .example-content {
  /* grid-template-columns: 1fr 2fr; */
  display: flex;
}
.right .example-project-text {
  align-items: end;
  left: -60px;
}
.right .example-project-image {
  left: 60px;
}
.right .example-project-text {
  order: 2;
  text-align: end;
}
/* Responsive */
@media (max-width: 768px) {
  .experience-card .experience-pic img {
    width: 80px;
    margin: 5px;
  }
  .experience-card .experience-text h5 {
    font-size: 18px;
  }
  .experience-card .experience-text p {
    font-size: 10px;
    line-height: 16px;
  }
  .experience-card .experience-text a.btn {
    padding: 8px 16px;
  }
  .logo-circle-box img {
    width: 550px;
  }
  .example-content {
    flex-direction: column;
  }
  .example-project-text {
    width: auto;
    left: 0px;
  }
  .right {
    padding: 10px 0 !important;
  }
  .right .example-project-text {
    left: 0;
    margin-top: 20px;
    order: 1;
  }
  .right .example-project-image {
    order: 2;
    left: 0;
  }
}

@media (max-width: 425px) {
  .Work-experience {
  background: #763cac;
  background: radial-gradient(
    circle,
    rgba(118, 60, 172, 1) 0%,
    rgba(140, 121, 184, 0) 25%
  );
}
  main .Work-experience-cards {
    grid-template-columns: auto;
  }
  .logo-circle-box img {
    width: 350px;
  }
  .example-content {
    flex-direction: column;
    padding: 0 20px;
  }
  .example-project-text {
    width: auto;
    left: 0px;
  }
  .right {
    padding: 10px 0 !important;
  }
  .right .example-project-text {
    left: 0;
    margin-top: 20px;
    order: 1;
  }
  .right .example-project-image {
    order: 2;
    left: 0;
  }
  .example-project-text .blur-card {
  width: 369px;
  font-size: 16px;
}
.example-project-image {
  width: 369px;
  right: 0;
}
}
