<div class="banner-container">
    <div class="container">
        <div class="row">
            <div class="speech_bubble">Hello! I Am <span class="hilight">Elham Saleh</span></div>
            <div class="picture">
                <img src="../images/Gradient-bannerMe.svg" alt="glow" class="glow-bg">
                <img src="../images/Me.svg" alt="char" class="avatar-img">
            </div>
            <div class="text-content">
                <div class="text">
                    <p class="p1 fw-400">A Front-end Developer who</p>
                    <p class="p2">builds websites<br>
                        people <span>enjoy</span>using....
                    </p>
                    <p class="p3 fw-400">Because a great website is more than beautiful—it should be fast, accessible,
                        and easy to use.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="section-introduction">
            <div>
                <h1>I'm a Front-end Developer. </h1>
                <p>Currently building modern websites with <span>HTML, CSS</span> , <span>JavaScript, React</span> and
                    <span>WordPress</span> .
                </p>
            </div>
            <p class="description">I started my journey in web design in 2019 and have been creating responsive,
                user-friendly websites ever since.

                My focus is on clean code, modern UI, and delivering digital experiences that combine performance with
                simplicity.</p>
        </div>
    </div>
</div>