<footer>
        <div class="container">
            <div class="footer-content">
            <h4>Contact</h4>
            <p>I'm currently looking to join a cross-functional team that values improving people's lives
                through accessible design. or have a project in mind? Let's connect.

                ibrhaimmemon930@gmail.com</p>
            <div class="social-media">
                <img src="images/instagram-icon.svg" alt="instagram-icon">
                <img src="images/ddrrible-icon.svg" alt="ddrrible-icon">
                <img src="images/google-icon.svg" alt="google-icon">
            </div>
        </div>
        </div>
    </footer>