<footer>
    <div class="container">
        <div class="footer-content">
            <h4>Contact</h4>
            <p>I'm always interested in new opportunities, freelance projects, and collaborations. If you have an idea or project in mind, I'd love to hear from you.
                <br><br>
                elhamsaleh051@gmail.com
            </p>
            <div class="social-media">
                <a href="https://t.me/elham.salleh"><img src="../images/telegram.svg" alt="instagram-icon"></a>
                <a href="https://www.linkedin.com/in/elhamsaleh051/"><img src="../images/linkedin.svg" alt="ddrrible-icon"></a>

                <a href="https://github.com/elhamsaleh051"><img src="../images/githubb.svg" alt="google-icon"></a>
            </div>

        </div>
    </div>
</footer>